extends ../layout

block content
  
  h1= title
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    each book in books
      - const {id, title, author, genre, year} = book.dataValues;
      tr
        td 
          a(href=`/books/${id}`) #{title}
        td #{author}
        td #{genre}
        td #{year}
 
  //- IMPORTANT: `/books/${id}` must have the '/' before 'books' --- Otherwise may get a 404.